# Nvim
alias vim="nvim"
alias vi="nvim"

# Bat
alias cat="bat"
alias ccat="cat"

# Find
alias find="fd"
alias ffind="find"

# Ls
alias ls="eza"
alias lls="ls"

# Tmuxinator
alias mux="tmuxinator"

# Clipboard
alias clip="wl-copy"

# Open
alias open="xdg-open"

# Realpath
alias rlp="realpath"

alias pass="pass-cli"

# Worktrees
alias wt="worktree"
alias wtn="worktree new"
alias wto="worktree open"
alias wtd="worktree destroy"

# Config Files
alias aliases="$EDITOR ~/.aliases"
alias hyprrc="$EDITOR ~/.config/hypr/hyprland.conf"
alias lfrc="$EDITOR ~/.config/lf/lfrc"
alias miserc="$EDITOR ~/.config/mise/config.toml"
alias nvimrc="cd ~/.config/nvim; $EDITOR ~/.config/nvim/lua"
alias pirc="$EDITOR ~/.pi/agent/settings.json"
alias tmuxrc="$EDITOR ~/.tmux.conf"
alias walkerrc="$EDITOR ~/.config/walker/config.toml"
alias zshrc="$EDITOR ~/.zshrc"

# Directories
alias dl="cd ~/Downloads"
alias src="cd ~/Source"
alias docs="cd ~/Documents"
alias pic="cd ~/Pictures"
alias wiki="cd ~/Documents/Wiki"
alias piagent="cd ~/.pi/agent"

# Notes
alias todo="$EDITOR ~/Documents/Wiki/todo.txt"
alias scratch="$EDITOR ~/Documents/Wiki/scratchpad.md"

## Lists
alias lists="$EDITOR ~/Documents/Wiki/resources/lists/"
alias books="$EDITOR ~/Documents/Wiki/resources/lists/books.md"
alias gifts="$EDITOR ~/Documents/Wiki/resources/lists/gifts.md"
alias media="$EDITOR ~/Documents/Wiki/resources/lists/media.md"
alias places="$EDITOR ~/Documents/Wiki/resources/lists/places.md"
alias projects="$EDITOR ~/Documents/Wiki/resources/lists/projects.md"
alias tweets="$EDITOR ~/Documents/Wiki/resources/lists/tweets.md"

# Git
alias gmt="git mergetool"
alias gaacm="git add -A && git commit -m"
alias gcl="git clone"

# Github CLI
alias ghcl="gh repo clone"
alias ghpr="gh pr create --editor"

# Docker
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dca="docker-compose start"
alias dco="docker-compose stop"

# Bundler
alias bex="bundle exec"
alias bo="bundle open"

# Mise
alias mr="mise run"

# Close terminal window
alias :q='exit'

# Clip
alias pc='pwd | clip'

# YAMD
alias yas="yadm status"
alias yaa="yadm add -u"
alias yacm="yadm commit -m"

# Other
alias -g ...='../..'
alias -g ....='../../..'
alias -- -='cd -'
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'


# Pandock!
alias pandock='docker run --rm -v "$(pwd):/data" -u $(id -u):$(id -g) pandoc/extra'

# Zeitblok
alias zb='zeitblok'
alias zbl='zeitblok log'

# Run qmd-patch after updating qmd to restore AMD Vulkan GPU fix (github.com/tobi/qmd/issues/287)
alias qmd-update="mise install 'npm:@tobilu/qmd' && qmd-patch"
