# Nvim
alias vim="nvim"
alias vi="nvim"

# Bat
alias cat="bat"
alias ccat="cat"

# Files
alias aliases="$EDITOR ~/.aliases"
alias i3rc="$EDITOR ~/.config/i3/config"
alias alacrittyrc="$EDITOR ~/.config/alacritty/alacritty.toml"
alias polybarrc="$EDITOR ~/.config/polybar/config"
alias nvimrc="$EDITOR ~/.config/nvim/lua"
alias nvimconfg="$EDITOR ~/.config/nvim/lua/config/"
alias nvimplugs="$EDITOR ~/.config/nvim/lua/plugins/"
alias rangerrc="$EDITOR ~/.config/ranger/rc.conf"
alias tmuxrc="$EDITOR ~/.tmux.conf"
alias zshrc="$EDITOR ~/.zshrc"

# Wiki
alias todo="$EDITOR ~/Documents/Wiki/tasks.md"
alias scratch="$EDITOR ~/Documents/Wiki/scratchpad.md"
alias work="$EDITOR ~/Documents/Wiki/work.md"
alias work/="$EDITOR ~/Documents/Wiki/work/"
alias notes="$EDITOR ~/Documents/Wiki/notes/"
alias diary="$EDITOR ~/Documents/Wiki/diary/diary.md"
alias goals="$EDITOR ~/Documents/Wiki/goals/goals.md"
alias wiki="$EDITOR ~/Documents/Wiki/home.md"

## Lists
alias ideas="$EDITOR ~/Documents/Wiki/lists/ideas.md"
alias lists="$EDITOR ~/Documents/Wiki/lists/"
alias media="$EDITOR ~/Documents/Wiki/lists/media.md"
alias places="$EDITOR ~/Documents/Wiki/lists/places.md"
alias tweets="$EDITOR ~/Documents/Wiki/lists/tweets.md"
alias tweets="$EDITOR ~/Documents/Wiki/lists/books.md"

# Homeshick
alias hcd="homeshick cd dotfiles"
alias hpd="homeshick pull dotfiles"
alias hld="homeshick link dotfiles"
alias htd="homeshick track dotfiles"

# Git
alias gmt="git mergetool"
alias gaacm="git add -A && git commit -m"
alias gcl="git clone"

# Github CLI
alias ghcl="gh repo clone"

# Docker
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dca="docker-compose start"
alias dco="docker-compose stop"

# Pomodoro
alias pos="pomo start"
alias pop="pomo pause"
alias por="pomo restart"
alias pot="pomo stop"

# Directories
alias dl="cd ~/Downloads"
alias src="cd ~/Source"
alias docs="cd ~/Documents"
alias writing="cd ~/Documents/Wiki/notes/writing/"
alias pics="cd ~/Pictures"

# Close terminal window
alias :q='exit'

# Other
alias -g ...='../..'
alias -g ....='../../..'
alias -- -='cd -'
alias ll='ls -lh'
alias la='ls -lAh'

# Pandock!
alias pandock='docker run --rm -v "$(pwd):/data" -u $(id -u):$(id -g) pandoc/latex'

# Zeitblok
alias zb='zeitblok.rb'
alias zbl='zeitblok.rb log'
