" Disable terminalsounds, see https://superuser.com/a/677312
set visualbell
set noerrorbells

set incsearch hlsearch
set ignorecase smartcase
set clipboard=unnamed
set scrolloff=5
set showmode

" Enable surround.vim
set surround

" Map space to leader
map <Space> <Leader>

" Recent file dialog
map <C-e> :action RecentFiles<CR>

" Extend Selection 
map <C-s> :action EditorSelectWord<CR>

map <Leader>s :action SaveAll<CR>
map <Leader>b :action GoToDeclaration<CR>
map <Leader>u :action GoToSuperMethod<CR>
map <Leader>a :action Annotate<CR>
map <Leader>d :action ActivateDatabaseToolWindow<CR>

" Clear search highlighting
nnoremap <Leader>c :noh<cr>

