" Load settings that Ideavim shares with Vim
source ~/.vim/shared.vim

" Disable terminalsounds, see https://superuser.com/a/677312
set visualbell
set noerrorbells

" Enable surround.vim
set surround

" Mappings to editor actions
map <C-e> :action RecentFiles<CR>
map <C-n> :action GotoClass<CR>
map <C-s> :action EditorSelectWord<CR>

map <Leader>s :action SaveAll<CR>
map <Leader>b :action GotoDeclaration<CR>
map <Leader>u :action GotoSuperMethod<CR>
map <Leader>a :action Annotate<CR>
map <Leader>d :action ActivateDatabaseToolWindow<CR>
map <Leader>p :action SelectInProjectView<CR>

" Mappings for window navigation
map <C-w>] :action TabShiftActions.ShiftRight<CR>
map <C-w>[ :action TabShiftActions.ShiftLeft<CR>
map <C-w>p :action TabShiftActions.ShiftUp<CR>
map <C-w>; :action TabShiftActions.ShiftDown<CR>
map <C-h> :action TabShiftActions.MoveFocusLeft<CR>
map <C-j> :action TabShiftActions.MoveFocusDown<CR>
map <C-k> :action TabShiftActions.MoveFocusUp<CR>
map <C-l> :action TabShiftActions.MoveFocusRight<CR>
