configuration {
    font: "SauceCodePro Nerd Font 11";
    show-icons: true;
    icon-theme: "Numix-Circle";
    terminal: "alacritty";
    combi-modi: "window,run";
    hide-scrollbar: true;
    width: 40;
    theme: ".config/rofi/nord";
}
